*{
    box-sizing: border-box;
}

body{
    background-color:rgb(221, 221, 221);
}

.parpadeo {
  animation: parpadeo 2s infinite;
  font-size: 25px;
}

@keyframes parpadeo {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

